body{
  background-image:url(./background_img.png);
  width: 100%;
}

.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.8);
}

.mdl-card__title{
  background-color: #1A7C79;
}

.mdl-button{
  background-color: #F6DCA8;
}

#sign-info {
  color: #E59289;
  font-size: 120%;
}

#user-info {
  padding: 10px;
  width: 216px;
  box-sizing: border-box;
}

#user-pic {
  padding:10px;
  width: 72px;
  box-sizing: border-box;
}

input(type="password") {
  font:large;
  font-size:150%;
}

.demo-avatar {
    width: 60px;
    height: 60px;
    padding: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 200px;
  overflow: auto;
}

ul li {
    font-family: Roboto;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}

ul li:last-child {
    margin: 0px;
}

ul .example-chat-username {
  margin-right: 10px;
}

#messages{
  height: 350px;
}


.chatimg{
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}
